.navbar input {
    min-width: 480px;
    border: none;
    border-radius: 0.3rem;
    font-size: 0.75em;
    padding: 6px 12px;
    text-transform: capitalize;
}

.navbar .search-box {
    display: block;
    position: relative;
}

.navbar .search-box svg {
    position: absolute;
    right: 0;
    color: #333;
    top: 0;
    bottom: 0;
    margin: auto 16px;
    cursor: pointer;
}

.navbar .search-box svg:hover {
    color: #f7b500;
}